node_modules/
coverage/
ci/
cypress/fixtures/jwt.json
cypress/report.json
cypress/screenshots/actual
cypress/videos/
dist/
.eslintcache
__debug_bin
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
