node_modules/
coverage/
ci/
cypress/fixtures/jwt.json
cypress/report.json
cypress/screenshots/actual
cypress/videos/
dist/
provisioning
.eslintcache
__debug_bin

# k8s PoC
apiserver.local.config/
data/
datasource.json
gpx_sheets_darwin_arm64
standalone.txt
