version: 2.1
parameters:
  ssh-fingerprint:
    type: string
    default: "dc:60:ab:c7:2d:8c:82:50:2a:2a:97:1a:c0:66:83:14"

aliases:
  # Workflow filters
  - &filter-only-master
    branches:
      only: master
  - &filter-only-release
    branches:
      only: /^v[1-9]*[0-9]+\.[1-9]*[0-9]+\.x$/

defaults: &defaults
  docker:
    - image: srclosson/grafana-plugin-ci-alpine:latest

jobs:
  build_plugin:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
          - yarn-packages-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: |
            yarn install --frozen-lockfile
      - run:
          name: Build and test frontend
          command:  |
            npx grafana-toolkit plugin:ci-build
            npx grafana-toolkit plugin:ci-build --finish
      - save_cache:
          paths:
            - ~/.cache
          key: yarn-packages-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
      - persist_to_workspace:
          root: .
          paths:
            - ci
  build_backend:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
          - yarn-packages-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
      - run:
          name: Build Backend
          command: |
            mage -v buildAll
      - run:
          name: Test Backend
          command: |
            mage -v lint
            mage -v coverage
      - run:
          name: Install dependencies
          command: |
            yarn install --frozen-lockfile
      - run:
          name: Move results to ci folder
          command:  |
            npx grafana-toolkit plugin:ci-build --finish
      - save_cache:
          paths:
            - ~/.cache
          key: yarn-packages-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
      - persist_to_workspace:
          root: .
          paths:
            - ci
  build_docs:
    <<: *defaults
    steps:
    - checkout
    - restore_cache:
        keys:
        - yarn-packages-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
    - run:
        name: Install dependencies
        command: |
          yarn install --frozen-lockfile
    - run:
        name: Build Docs
        command: |
          mkdir ci # Avoid error if not exists
          npx grafana-toolkit plugin:ci-docs
    - save_cache:
        paths:
        - ~/.cache
        key: yarn-packages-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
    - persist_to_workspace:
        root: .
        paths:
          - ci

  package:
    <<: *defaults
    steps:
    - checkout
    - attach_workspace:
        at: .
    - restore_cache:
        keys:
        - yarn-packages-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
    - run:
        name: Package Distribution
        command: |
          yarn install --frozen-lockfile
          npx grafana-toolkit plugin:ci-package
    - persist_to_workspace:
        root: .
        paths:
        - ci/jobs/package
        - ci/packages
        - ci/dist
        - ci/grafana-test-env

  provisioning:
    <<: *defaults
    steps:
    - checkout
    - add_ssh_keys:
        fingerprints:
          - << pipeline.parameters.ssh-fingerprint >>
    - run:
        name: Checkout provisioning files
        command: git clone git@github.com:grafana/plugin-provisioning.git
    - run:
        name: Prepare task output dir
        command: |
          mkdir ci # Avoid error if not exists
          mkdir ci/jobs # Avoid error if not exists
          mkdir ci/jobs/provisioning
          mv plugin-provisioning/plugins/google-sheets/provisioning/* ci/jobs/provisioning
    - persist_to_workspace:
        root: .
        paths:
        - ci/jobs/provisioning

  e2e_canary:
    <<: *defaults
    steps:
    - checkout
    - attach_workspace:
        at: .
    - restore_cache:
        keys:
        - yarn-packages-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
    - run:
        name: Setup Grafana (local install)
        command: |
          ginstall canary
          /opt/grafana/bin/grafana-server -config ci/grafana-test-env/custom.ini -homepath /opt/grafana &
          /opt/grafana/bin/grafana-cli --version
    - run:
        name: Install dependencies
        command: |
          # TODO.... should be frozen-lockfile
          yarn install --pure-lockfile
    - save_cache:
          paths:
            - ~/.cache
          key: yarn-packages-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
    - run:
        name: Copy provisioning files
        command: cp -r ci/jobs/provisioning provisioning/
    - run:
        name: Run e2e tests
        command: echo npx grafana-e2e run
    - run:
        when: always
        name: Prepare task output dir
        command: |
          # TODO: probably move all of this to `@grafana/toolkit plugin:ci-test`
          mkdir ci/jobs/e2e_canary
          # only copy if they exist
          cp cypress/screenshots/*.* ci/jobs/e2e_canary 2>/dev/null || :
          cp cypress/videos/*.* ci/jobs/e2e_canary 2>/dev/null || :
    - persist_to_workspace:
        root: .
        paths:
        - ci/jobs/e2e_canary
    - store_test_results:
        path: ci/jobs/e2e_canary
    - store_artifacts:
        path: ci/jobs/e2e_canary

  report:
    <<: *defaults
    steps:
    - checkout
    - attach_workspace:
        at: .
    - restore_cache:
        keys:
        - yarn-packages-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
    - run:
        name: Toolkit report
        command: |
          yarn install --frozen-lockfile
          npx grafana-toolkit plugin:ci-report
    - store_artifacts:
        path: ci

  publish_github_release:
    <<: *defaults
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - << pipeline.parameters.ssh-fingerprint >>
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - yarn-packages-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
      - run:
          name: "Publish Release on GitHub"
          command: |
            yarn install --frozen-lockfile
            npx grafana-toolkit plugin:github-publish

workflows:
  plugin_workflow:
    jobs:
      - build_plugin
      - build_docs
      - build_backend
      - package:
          requires:
            - build_plugin
            - build_backend
            - build_docs
      - provisioning
      - e2e_canary:
          requires:
            - package
            - provisioning
      - report:
          requires:
            - e2e_canary
      - approve_release:
          type: approval
          requires:
            - report
          filters: *filter-only-release
      - publish_github_release:
          requires:
            - approve_release
          filters: *filter-only-release